{% extends 'constellation_base/base.html' %}

{% block title %}Supplemental Groups{% endblock %}

{% block content %}
<div class="mdl-card mdl-cell--8-col mdl-cell--2-offset-desktop mdl-shadow--2dp mdl-grid">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Supplemental Groups</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <div class="mdl-list">
            {% for group in existing_groups %}
            <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    {{ group.name }}
                </span>
                <span class="mdl-list__item-secondary-content">
                    <a href="{% url 'base_manage_group_delete' group.id %}">
                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons">delete</i>
                        </button>
                    </a>
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="mdl-card mdl-cell--8-col mdl-cell--2-offset-desktop mdl-shadow--2dp mdl-grid">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Update Membership</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <form method="POST">
            {% csrf_token %}
            <select name="group_id">
                {% for group in all_groups %}
                <option value="{{ group.pk }}">{{ group.name }}</option>
                {% endfor %}
            </select>
            <label for="group_id">Group Selector</label>

            <textarea name="membership_listing" cols="75" rows="4"></textarea>
            <label for="membership_listing">Membership Listing</label>
            <input type="submit" />
        </form>
    </div>
</div>

{% endblock %}
